Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
LCDP/Saved/Logs/LCDP.log
LCDP/Saved/Config/Windows/EditorPerProjectUserSettings.ini
LCDP/Saved/AutoScreenshot.png
LCDP/Intermediate/CachedAssetRegistry.bin
